@page "/"

@inject IToastService toastService
@inject NavigationManager NavigationManager
<ToastTypes />
<br />
<br />
<br />
<br />
<button class="btn btn-danger" @onclick="ClearAll">Remove All</button>


@code
{
    private void ClearAll()
        => toastService.ClearAll();


}
